body {
  background: url("../img/farm.webp") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  }
.grid {
  display: flex;
  flex-wrap: wrap;
  width:750px;
  height:600px;
  justify-content: space-between;
  }

.hole {
height:100px;
width:200px;
border-radius: 100%;
background-color: white;
box-shadow: inset 0 10px 0 7px black;
margin-left: 20px;
}

.gridcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
#totoroimg{
  max-height:120px;
  width:auto;
  }
h1 {
  font-size: 50px;
    margin-bottom: 0
}
.players,.player1,.player2,.startbuttons,.startarrows{
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.scoreboard{
  margin-left: 13%;
  width:74%;
  display: flex;
  justify-content:space-around;
  margin-bottom: 20px;
}

.player{
  height:50px;
  width:250px;
  background-color: brown;
  border-radius: 50%;
  padding-top: 30px;
  text-align: center;
  margin:auto;
}
.startbutton{
  height:40px;
  width:150px;
  background-color: orange;
  border-radius: 50%;
  padding-top: 30px;
  text-align: center;
  margin:auto;
}
#restart{
  height:40px;
  width:150px;
  background-color: orange;
  border-radius: 50%;
  padding-top: 30px;
  text-align: center;
  margin:auto;
}

.displaytimer{
max-width: 200px;
background-color: green;
padding-right: 50px;
padding-bottom: 20px;
/* margin:auto;
margin-bottom: 40px; */
}
#hammerimg1,#hammerimg2,#timerimg {
  max-height: 50px;
  width: auto;
  padding-left: 10px;
  /* border:solid purple 2px; */
}
#arrow1,#arrow2{
max-height: 100px;
margin-right: 10px;
}
.mole{
  background-image: url("../img/mole.gif");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.plus10{
background-image: url("../img/plus10Box.jpeg");
background-repeat:no-repeat;
background-size: 100px 50px;
background-position: left;

}
.cursor{
  height:100px;
  width: 100px;
  position: absolute;
  background-image: url("../img/hammer.webp");
  background-repeat: no-repeat;
  background-size:70% 70%;
  transform:translate(-40%,-40%);/*put the cursor above hammer img*/
  pointer-events: none;
}
.cursor.rotate{
  transform:translate(-20%,-20%) rotate(-45deg);
}
